.com-weibo-preview {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 10px 16px 10px 10px;
    .weibo-preview-hd {
        overflow: hidden;
        line-height: 23px;
        word-wrap: break-word;
        a {
            color: #76a513;
        }
    }
    .weibo-preview-bd {
        img {
            height: 80px;
            max-height: 80px;
            margin: 6px 0 0 6px;
            overflow: hidden;
        }
    }
}
