<!-- BEGIN PAGE HEAD -->
<div class="page-head">
  <div class="container">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>链列表
        <small>statistics & reports</small>
      </h1>
    </div>
    <!-- END PAGE TITLE -->
  </div>
</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
      <li><%= link_to '首页', root_path %></li>
      <li class="active">链列表页</li>
    </ul>
    <!-- END PAGE BREADCRUMB -->

    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
      <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-gift font-green-sharp"></i>
              <span class="caption-subject font-green-sharp bold uppercase">链列表</span>
              <span class="caption-helper">管理链</span>
            </div>
            <div class="actions">
<!--              <a href="<%#= new_admin_user_path %>" class="btn btn-default btn-circle">-->
<!--                <i class="fa fa-plus"></i>-->
<!--                <span class="hidden-480"> 新建用户</span>-->
<!--              </a>-->
            </div>
          </div>
          <div class="portlet-body">
            <div class="table-container">
              <div id="toolbar">
                <% #使用form helper生成表单；让其引入cors的元素；%>
                <div class="btn-group">
                  <%= button_tag('启用', id: 'btn-enable_chains',  class: 'btn btn-sm green', type: 'button', disabled: true) %>
                  <%= button_tag('禁用', id: 'btn-disable_chains', class: 'btn btn-sm red', type: 'button', disabled: true) %>
                </div>
              </div>
              <!---->
              <table
                id="tbl-chains"
                data-classes="table table-striped table-bordered table-hover"
                data-url="<%= more_chain_admin_chains_path %>"
                data-toolbar="#toolbar"
                data-search="true"
                data-method="get"
                data-data-field="data"
                data-pagination="true"
                data-side-pagination="server"
                data-page-size="25"
                data-page-list="[25, 50, 100]"
              >

              </table>
            </div>
          </div>
        </div>
        <!-- End: life time stats -->
      </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
  </div>
</div>
<!-- END PAGE CONTENT -->